@tailwind base;
@tailwind components;
@tailwind utilities;

text {
  fill: black;
  /* font: 20px sans-serif; */
  text-anchor: middle;
}

body:has(main#home) {
  overflow: hidden;
  background-color: #58585813;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Remove arrows from input numbers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
